{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    <section id="home">
        <div class="icon">
            <a href="#"><i class="fas fa-angle-down"></i></a>
        </div>
    </section>
{% endblock %}
