/* VARIABLES */
:root {
  --grey: #8d8d8d;
  --black: #000000bd;
}

/* / */

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--grey);
}

a:hover {
  text-decoration: none;
  color: #1f1f1f;
  transition: all 0.2s;
}

.navbar-brand img {
  width: 50%;
}

.icon {
  font-size: 5rem;
}

.card-icon {
  font-size: 4rem;
}

.icon#backTop {
  position: relative;
  right: 5rem;
}

.icon#backTop i {
  color: var(--black);
}

#phoneIcons {
  background-color: white;
}

hr {
  width: 50%;
}

input.form-control,
textarea.form-control,
select.form-control {
  font-size: 2rem;
  resize: none;
}

button.btn {
  font-size: 1.7rem;
}

@media screen and (max-width: 992px) {
  hr {
    width: 100%;
  }
}
