<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Récupération de mot de passe</title>
</head>
<body>
<h1>Réinitialiser votre mot de passe</h1>
<p>Bonjour <b>{{ user.userNickName }}</b> !</p>
<p>Vous avez fait une demande de réinitialisation de mot de passe. </p>
<p>Veuillez cliquer sur ce lien pour procéder au changement de votre mot de passe: <a href="{{ path('reset_password', {token: token}) }}">Réinitialiser mon mot de passe</a></p>
</body>
</html>