{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/authentication.css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="login">
        <div class="mb-5 container w-25">
            <h1 class="my-5 text-center">Se connecter</h1>
            <form action="" method="post">
                <div class="form-group">
                    <div class="form-row mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Entrez votre email">
                    </div>
                    <div class="form-row mb-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe...">
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-dark">Se connecter</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}