{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <section id="resetPassword">
        <div class="mb-5 container w-25">
            <h1 class="my-5 text-center">Réinitialiser son mot de passe</h1>

            {#            {% if hasError %}#}
            {#                <div class="alert alert-danger">Le nom d'utilisateur/mot de passe est invalide</div>#}
            {#            {% endif %}#}

            {#            {% for message in app.flashes('success') %}#}
            {#                <div class="alert alert-success">#}
            {#                    {{ message }}#}
            {#                </div>#}
            {#            {% endfor %}#}

            <form action="" method="post">
                <div class="form-group">
                </div>
            </form>
        </div>
    </section>
{% endblock %}
