{% extends 'base.html.twig' %}

{% block title %}Ressource interdite - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <section id="error403" class="text-center">
        <h1 class="text-center my-5">Vous n'avez pas l'autorisation d'entrer ici!</h1>
        <a href="{{ path('home') }}" type="button" class="btn btn-dark text-white">Retour au site</a>
    </section>
{% endblock %}
